<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/menu.xsd">

    <entries>
        <entry>
            <name>n2305WindowAd</name>
            <label lang="en">n2305 WindowAd</label>
            <label lang="de">n2305 WindowAd</label>
            <controller>n2305WindowAd</controller>
            <action>index</action>
            <class>sprite-application-block</class>
            <parent identifiedBy="controller">Content</parent>
        </entry>
    </entries>
</menu>
